:host {
  --ticker-margin: 0;
  --ticker-padding: 0;
  --price-margin: 0 0 0 5px;
  --price-padding: 0;
  --icon-margin: 0;
  --icon-padding: 0;
  --change-margin: 0;
  --change-padding: 0;
}

.trending-up::after {
  font-family: "Material Icons";
  content: "trending_up"
}
  
.trending-down::after {
  font-family: "Material Icons";
  content: "trending_down"
}

.trending-flat::after {
  font-family: "Material Icons";
  content: "trending_flat"
}

.ticker {
  margin: var(--ticker-margin);
  padding: var(--ticker-padding);
}

.price {
  margin: var(--price-margin);
  padding: var(--price-padding);
}

.icon {
  margin: var(--icon-margin);
  padding: var(--icon-padding);
}

.change {
  margin: var(--change-margin);
  padding: var(--change-padding);
}
