:host {
  --chart-height: 100px;
  --chart-width: 100px;
  display: flex;
}

.chart {
  height: var(--chart-height);
  width: var(--chart-width);
  display: flex;
}

.chart > d3fc-canvas {
  height: var(--chart-height);
  width: var(--chart-width);
}
